/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/



body{
	margin: 0px;
	padding: 20px;
	padding-bottom: 20px;

	margin: 0 auto;
	width: 900px;
    background-color:#007573;
    font-family: 'Oswald', sans-serif;
    font-size:14px;
}





header {
padding-top: 20px;

}



header img {
padding: 1em;
background-color:#283a4e;
}
footer img {
	float:left;
	margin: 15px 15px 0 0;
	padding: 1em;
background-color:#283a4e;
}

section {

margin-top: 1em;
font-size: 120%;
padding: 20px;

background-color:#f4f4f4;


	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
}
section h1 {
font-size: 200%;
text-shadow: 0px 2px 3px #dbf9f3;
}

/* Links */
a {
color: #09c;
text-decoration: none;
}
/*
a:hover {
color: #069;
text-decoration: underline;
}*/

/* Navigation */
nav {
float: right;
}
nav {
	
background-color:#f4f4f4;
padding: 0 0.7em;
white-space: nowrap;
-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* future proofing */
}
nav ul {
margin: 0;
padding: 0;
}
nav ul li {
	
list-style-type: none;
display: inline-block;
padding: 0.2em 0;
}
nav ul li a {
padding: 0 5px;
font-weight: bold;
}
nav ul li a:visited {
color: #09c;
}

nav ul li a:hover {
text-decoration: underline;
}


/* Sign up button */
.signup_button {

	width: 190px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #d83526;
	display:block;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}
.signup_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.signup_button:active {
	position:relative;
	top:1px;
}


/* Round corners */
/*
.round {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}*/

/* footer */
footer {
text-align: justify;
width: 960px;
height:220px;
margin-left: auto;
margin-right: auto;
padding-bottom: 20px;

}
footer nav {
float: none;
background-color:#eae9d8;
}


* {margin:0; padding:0}

p {line-height:1.4; margin-bottom:12px}
#wrapper {width:673px; margin:50px auto}
#container {position:relative; background:#fff; padding:32px; height:235px; border-right:1px solid #ccc; border-bottom:1px solid #ccc}
.sliderbutton {float:left; width:25px; height:235px; cursor:pointer}
#slideleft {background:url(images/icons.gif) -50px -265px no-repeat}
#slideleft:hover {background-position:-0 -265px}
#slideright {background:url(images/icons.gif) 0 90px no-repeat}
#slideright:hover {background-position:-50px 90px}
#slider {float:left; position:relative; overflow:auto; width:558px; height:235px}
#slider ul {position:absolute; list-style:none; top:0; left:0}
#slider li {float:left; width:558px; height:235px}
.pagination {position:absolute; top:40px; right:61px; list-style:none; height:25px}
.pagination li {float:left; cursor:pointer; height:8px; width:8px; background:#ccc; margin:0 4px 0 0; border:1px solid #fff}
.pagination li:hover, li.current {background:#fff}




.fancy{
	font-family: 'Oswald', sans-serif;
	}

#footer{
	float:left;
	height:220px;
	width:900px;
	
    margin-bottom:40px;
	background-color:#eae9d8;
	color:#999999;
	font-size:13px;
	line-height:1.5;
	}

.footercol{
	float:left;
	width:250px;
	padding:10px 10px 0 0;
	}
	
#footer h5{
	color:#454a49;
	}

#footer ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}

#footer a:link, #footer a:visited{
	color:#999999;
	text-decoration:none;
	}

#footer a:hover{
	color:#757575;
	}

	h1{
	color:#6b7f7f;
	text-transform:uppercase;
	font-weight:normal;
	font-size:21px;
	text-shadow: 0px 2px 3px #dbf9f3;
	line-height:3; 
}
	h3{
		color:	#007573;
        text-shadow: 0px 2px 3px #dbf9f3;

	}
h5{
	font-weight:normal;
	text-transform:uppercase;
	font-size:11px;
	}

table.profile {
width: 100%;
margin-bottom: 0;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
td.main {
width: 30%;
padding: 1em;
vertical-align: top;
background-color:#eae9d8;
}
td.sidebar {
width: 70%;
padding: 1em;
vertical-align: top;
background:	#F5FFE0;
}

 label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
input {
    height:20px;
    width:220px;
    padding:5px 8px;
}
textarea {padding:8px; width:300px;}
 button {margin-left:156px;}


input,  textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;

    border-radius:2px;
}
input:focus,  textarea:focus {
    background: #fff;
    
   /* box-shadow: 0 0 10px rgba(81, 203, 238, 1);*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

input[type="submit"] {
height:35px;
    width:60px;
display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .2em; 
    -moz-border-radius: .2em;
    border-radius: .2em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    
   color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

input[type=submit]:hover {
    text-decoration: none;

    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
  
}

input[type=submit]:active {
  position: relative;
    top: 1px;

    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* ERROR MESSAGE */
 .field_with_errors {
margin-top: 5px;
padding: 1px;
background-color: #fe1a00;
display: table;
}
.field_with_errors label {
color: #fff;
}
#error_explanation {
width: 400px;
border: 2px solid red;
padding: 7px;
padding-bottom: 12px;
margin-bottom: 20px;
background-color: #f0f0f0;
}
#error_explanation h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
background-color: #fe1a00;
color: #fff;
}
#error_explanation p {
color: #333;
margin-bottom: 0;
padding: 5px;
}
#error_explanation ul li {
font-size: 12px;
list-style: square;
}
ul,
ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrapper2 {
    width: 220px;
    margin: 0px auto;
    font-size: 0.8125em;
}

.menu2 {
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.menu2 > li > a {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
    background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
    border-bottom: 1px solid #33373d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
    -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
    box-shadow: inset 0px 1px 0px 0px #878e98;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}

.menu2 ul li a {
    background: #fff;
    border-bottom: 1px solid #efeff0;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.923em;
    font-weight: 400;
    color: #878d95;
}
.menu2 ul li:last-child a {
    border-bottom: 1px solid #33373d;
}

.menu2 > li > a:hover,
.menu2 > li > a.active {
    background-color: #35afe3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
    background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
    border-bottom: 1px solid #103c56;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.menu2 > li > a.active {
    border-bottom: 1px solid #1a638f;
}

.menu2 > li > a:before {
    content: '';
    
    background-repeat: no-repeat;
    font-size: 36px;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -.5em 0 0 0;
}
.item1 > a:before {
    background-position: 0 0;
}
.item2 > a:before {
    background-position: -38px 0;
}
.item3 > a:before {
    background-position: 0 -38px;
}
.item4 > a:before {
    background-position: -38px -38px;
}
.item5 > a:before {
    background-position: -76px 0;
}

.menu2 > li > a span {
    font-size: 0.857em;
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 50%;
    background: #48515c;
    line-height: 1em;
    height: 1em;
    padding: .4em .6em;
    margin: -.8em 0 0 0;
    color: #fff;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: .769em;
    -moz-border-radius: .769em;
    border-radius: .769em;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
    font-weight: 500;
}
.menu2 > li > a:hover span, .menu > li a.active span {
    background: #2173a1;
}

.menu2 ul > li > a span {
    font-size: 0.857em;
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 50%;
    background: #fff;
    border: 1px solid #d0d0d3;
    line-height: 1em;
    height: 1em;
    padding: .4em .7em;
    margin: -.9em 0 0 0;
    color: #878d95;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: .769em;
    -moz-border-radius: 769em;
    border-radius: 769em;
    text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}
.menu2 > li > ul li a:before {
    content: '▶';
    font-size: 8px;
    color: #bcbcbf;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: -2.7em;
}
.menu2 > li > ul li:hover a,
.menu2 > li > ul li:hover a span,
.menu2 > li > ul li:hover a:before {
    color: #32373D;
}

ul.users {
margin-top: 1em;
}
.users li {
list-style: none;

}

#all_users {
    padding: 1em;

}

h1.micropost {
margin-bottom: 0.3em;

}
table.microposts {
margin-top: 1em;
}
table.microposts tr {
height: 70px;
}
table.microposts tr td.gravatar {
border-top: 1px solid #ccc;
vertical-align: top;
width: 50px;
}
table.microposts tr td.micropost {
border-top: 1px solid #ccc;
vertical-align: top;
padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
display: block;
font-size: 85%;
color: #666;
}
div.user_info img {
padding-right: 0.1em;
}
div.user_info a {
text-decoration: none;
}
div.user_info span.user_name {
position: absolute;
}
div.user_info span.microposts {
font-size: 80%;
}
form.new_micropost {
margin-bottom: 2em;
}
form.new_micropost textarea {
height: 4em;
margin-bottom: 0;
}


.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}



#head {
 position:absolute;
 margin:0;
 top:0;
 margin-left: 1px;
 display:block;
 width:1170px;
 height:40px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
 background:#333333;
    background: -moz-linear-gradient(center top , #333333, #111111) repeat scroll 0 0 transparent;
}
#logo a {
    background: no-repeat scroll 20px 9px transparent;
    color: #FFFFFF;
    display: block;
    height: 40px;
    margin-right: 5px;
    outline: medium none;
    text-indent: -9999px;
    width: 140px;
 float:left;
}
.searchbox{

 width: auto;
    height: auto;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);


    font: 13px 'Oswald',sans-serif;
    padding: 6px 25px 4px 6px;
    width: 215px;
 float:left;

 
}

.searchbox:focus {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #ffffff;

}
#head ul {
  margin:0;
  padding:0;
  background:transparent;
  height:100%;
  margin-left:60px;
  padding-left:60px;
  padding-top:10px;
}

#head ul li {  display:inline;}
#head ul li a { padding-left:20px;  color:#BABABA; text-decoration:none;}
#head ul li a:hover { color:#FFFFFF;  }