 <div id="footer" class="section">
            	<div class="footercol">


<div class="wrapper-demo">
<div id="dd" class="wrapper-dropdown-3" tabindex="1">
  <span>User Login</span>
  <ul class="dropdown">
    <li><a href="#"><i class="icon-envelope icon-large"></i>Classic mail</a></li>
    <li><a href="#"><i class="icon-truck icon-large"></i>UPS Delivery</a></li>
    <li><a href="#"><i class="icon-plane icon-large"></i>Private jet</a></li>
  </ul>
</div>
</div>                
           	    </div>
              <div class="footercol">
               	<h5 class="fancy">Masmet for users</h5>
                 <ul>
               		  <li><a href="#">Features</a></li>
                   		<li><a href="#">Customer Acquisition</a></li>
                   		<li><a href="#">Trades</a></li>
                   		<li><a href="#">Security</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Merchant Support</a></li>
                        <li><a href="#">Compare</a></li>

                 </ul>
                </div>
                <div class="footercol">
                	<h5 class="fancy">Support</h5>
                    <ul>
               		  <li><a href="#">Support</a></li>
                   		<li><a href="#">FAQs</a></li>
                   		<li><a href="#">Contact Us</a></li>
                   		
                 	</ul>
                 	<h5 class="fancy">User Login</h5>
                    <ul>
               		  <li><a href="#">Login</a> | <a href="#">Sign Up</a></li>
                   	
                 </ul>
                </div>
                <div class="footercol">
                	<h5 class="fancy">What is Masmet?</h5>
                
                    <p>Masmet is a free social loyalty platform that merchants can tap on to reward loyal customers AND acquire new ones.</p>
                  
                </div>

              </div>

            </div>

